*{
    margin: 0px;
    padding: 0px;
}

body{
/*    background-color: red;*/
}

.site-header{
    width: 100%;
    height: 10vh;
    background-color: #464646;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.site-header__container{
    width: 80%;
    height: 100%;
/*    background-color: yellow;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-header__logo-block{
    width: 15%;
    height: 100%;
    background-color: blue;
}

.site-header__nav{
    width: 40%;
    height: 100%;
/*    background-color: blue;*/
}

.site-header__ul{
    list-style: none;
    width: 100%;
    height: 100%;
/*    background-color: pink;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site-header__li{
/*    background-color: purple;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.site-header__li a{
    color: white;
    text-decoration: none;
}

.site-header__li:hover{
    text-decoration: underline;
}

.site-header__search{
    height: 40%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 1px 0px 0px white;
}

.site-header__search::placeholder{
    color: white;
/*    text-decoration: none;*/
}

.slider{
    max-width: 100%;
    height: 90vh;
    background-color: red;    
}

.slider__unit{
    position: absolute;
    opacity: 0;
    height: 90vh;
    width: 100%;
    animation: round 16s infinite;
/*    background-color: purple;*/
}

@keyframes round{
    25%{opacity: 1;}
    40%{opacity: 0;}
}

.slider__unit:nth-child(1){ background-color:blue;}
.slider__unit:nth-child(2){ background-color: aqua;}
.slider__unit:nth-child(3){ background-color:  forestgreen;}
.slider__unit:nth-child(4){ background-color:  hotpink;}

.slider__unit:nth-child(1){ animation-delay: 12s;}
.slider__unit:nth-child(2){ animation-delay: 8s;}
.slider__unit:nth-child(3){ animation-delay: 4s;}
.slider__unit:nth-child(4){ animation-delay: 0s;}


.company{
    width: 100%;
    height: 100vh;
/*    background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ededed;
}

.company__target-block{
    width: 100%;
    height: 20%;
/*    background-color: aqua;*/
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.company__moto-block{
    width: 100%;
    height: 20%;
/*    background-color: aquamarine;*/
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.company__slider{
    width: 100%;
    height: 50%;
/*    background-color: chartreuse;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
/*    background-color: #ededed;*/
    background-color: white;
}

.company__slider-unit{
    height: 50%;
    width: 100%;
/*    background-color: blue;*/
/*    background-color: #ededed;*/
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 70px;
    position: absolute;
    opacity: 0;
    animation: round 12s infinite;
}

.company__slider-unit:nth-child(1){ animation-delay: 9s;}
.company__slider-unit:nth-child(2){ animation-delay: 6s;}
.company__slider-unit:nth-child(3){ animation-delay: 3s;}
.company__slider-unit:nth-child(4){ animation-delay: 0s;}

.company__rev-header-block{
    width: 100%;
    height: 20%;
/*    background-color: brown;*/
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.company__rev-block{
    width: 100%;
    height: 70%;
/*    background-color: cyan;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

.search-block{
    width: 100%;
    height: 50vh;
    background-color: #ededed;
     display: flex;
    flex-direction: column;
    align-items: center;
}

.seacrh-block__header-block{
    width: 60%;
    height: 20%;
/*    background-color: aqua;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.search-block__inputs-block{
    width: 60%;
    height: 60%;
/*    background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.search-block__input{
    color: black;
/*        margin-right: 50px;*/
    height: 35%;
    width: 40%;
    background-color: transparent;
    border: none;
    outline: none;
/*    color: white;*/
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 1px 0px 0px black;
}

.search-block__input::placeholder{
    color: black;
}

.search-block__button-block{
    width: 60%;
    height: 20%;
/*    background-color: aqua;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-block__button{
    width: 20%;
    height: 60%;
    background-color: transparent;
    border: none;
    outline: none;
/*    color: white;*/
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 0px 0px 1px black;
/*    padding: 5px;*/
    cursor: pointer;
}

.search-block__button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.extra-sales{
    width: 100%;
    height: 20vh;
    background-color: #cccccc;
}

.extra-sales__header-block{
    width: 100%;
    height: 35%;
/*    background-color: red;*/
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
/*    color: white;*/
}

.extra-sales__buttons-block{
    width: 100%;
    height: 65%;
/*    background-color: aqua;*/
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.extra-sales__email{
    margin-right: 50px;
    height: 40%;
    background-color: transparent;
    border: none;
    outline: none;
/*    color: white;*/
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 1px 0px 0px black;
}

.extra-sales__email::placeholder{
    color: black;
}

.extra-sales__subscribe{
    height: 40%;
    background-color: transparent;
    border: none;
    outline: none;
/*    color: white;*/
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 0px 0px 1px black;
    padding: 5px;
    cursor: pointer;
}

.extra-sales__subscribe:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.site-footer{
    height: 10vh;
    width: 100%;
    background-color: #464646;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.site-footer__item{
    margin-right: 50px;
    color: white;
    height: 100%;
/*    background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;    
}

.site-footer__item a{
    color:white;
    text-decoration: none;
}

.site-footer__item p:hover{
    cursor: pointer;
    text-decoration: underline;
}



